z_garbage/gui/assets/images/picsum_981-600x600.jpg
z_garbage/tk_tut.py
db/photo_catalog_db_diagram.mwb
db/photo_catalog_db_diagram.mwb.bak
z_garbage/test_commit.py
z_garbage/gui/main.py
z_garbage/gui/pyuiWidgets/__init__.py
z_garbage/gui/pyuiWidgets/imageLabel.py
z_garbage/gui/pyuiWidgets/listBox.py
z_garbage/gui/pyuiWidgets/scrollWidget.py
z_garbage/gui/pyuiWidgets/__pycache__/__init__.cpython-314.pyc
z_garbage/gui/pyuiWidgets/__pycache__/imageLabel.cpython-314.pyc
z_garbage/gui/pyuiWidgets/__pycache__/listBox.cpython-314.pyc
z_garbage/gui/pyuiWidgets/__pycache__/scrollWidget.cpython-314.pyc
__pycache__/config.cpython-314.pyc
config.py
